.logo-icon--small {
    padding: 10px;
    height: 60px;
    pointer-events: none;
    cursor: pointer;
}

.logo-icon--regular {
    height: 80px;
    pointer-events: none;
}

.logo-icon--big {
    height: 120px;
    pointer-events: none;
}